site/*
prompts.txt
final/Vou analisar os arquivos HTML para ver o.md
spoonocular/*
final/data/autentication.txt
final/data/Platform Resources _ fatsecret Platform API.pdf
final/data/Recipes_ Get By Id _ fatsecret Platform API.pdf
final/data/Recipes_ Search _ fatsecret Platform API.pdf
