/* ================ Main Directory ================ */

/* title and buttons*/

.menu {
  display: grid;
  grid-template-columns: auto 44px 44px;
  padding: 0 35px 0 15px;
  align-items: center;
  gap: 10px;
}

.menu h1 {
  font-family: "Merriweather";
}

.layout {
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.layout:hover {
  background-color: var(--contrast-color);
}

.layout img {
  width: 1.2rem;
  height: auto;
  padding: 0;
}

/* Style for the grid layout */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  padding: 1.5rem 0;
}

/* Card style */
.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  background: var(--accent-color);
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0,0,0, 0.3);
  padding: 0;
  margin-right: 15px;
  padding-bottom: 5px;
  min-width: 320px;
  max-width: 800px;
  width: 80%;
  margin: 0 10px;
  border: solid 1px var(--primary-color);
}

/* top: name */
.card > .name {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 10fr 1fr;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  min-width: 320px;
  width: 100%;
}

.card > .name h2, 
.card > .name p {
  grid-column: 1;
  justify-self: center; 
  text-align: center;
}

.card > .name h2 {
  font-family: "Merriweather";
  font-size: large;
}

.card > .name p {
  font-size: smaller;
  padding-bottom: 10px;
  word-break: break-word;
  width: 90%;
}

.card > .name div {
  grid-row: 1 / 3;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.card > .name div img {
  width: 25px;
  height: 25px;
  padding-right: 20px;
}

/* Left: logo/photo */
.card > .photo {
  grid-row: 2;
  grid-column: 1;
  justify-self: center; 
  align-self: center;
}

.card > .photo img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-left: 5px;
}

/* Right: info */
.card > .info {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.card > .info p {
  font-size: 1rem;
  padding: 0;
  margin: 0.6rem 0;
  word-break: break-word;
}
.card > .info a {
  color: var(--primary-color);
  text-decoration: underline;
  margin: 0.6rem 0;
  font-size: 1rem;
  word-break: break-all;
}
.card strong {
  font-weight: bold;
}

/* Style for the list layout */

.list {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1.5rem 0;
}

.line {
  background: var(--accent-color);
  border: 1px solid black;
  padding: 1.2rem 1.5rem;
  margin: 0 auto;
  max-width: 700px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.line:nth-child(even) {
  background-color: #fefefe;
}

.line h2 {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 0.2rem 0;
  color: var(--primary-color);
}

.line p {
  margin: 10px 0;
  font-size: 1rem;
}


.line a {
  color: darkblue;
  text-decoration: underline;
  font-size: 1rem;
  word-break: break-all;
  margin: 10px 0;
}