@media only screen and (min-width: 641px) {
    header .normal-title {
        display: none;
    }
    header .medium-title {
        display: block;
    }

    #allplaces div {
        display: grid;
        grid-template-areas: 
        "photo name"
        "photo description"
        "photo location"
        "photo learn";
    }

    #allplaces div img{
      border-right: solid 1px #bbb;
    }

    #allplaces div address {
        margin-bottom: 0;
    }
}
