* {
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color-1: #cccccc;
    --accent-color-2: #000;
}

body {
  background-color: var(--accent-color-1);
  font-family: 'Lora', serif;
}

header {
  font-family: "Baumans", system-ui;
  display: grid;
  grid-template-columns: 50px auto 44px;
  align-items: center;
  padding: 5px 0 5px 10px;
  column-gap: 5px;

  img {
    display: block;
    width: 100%;
    height: auto;

  }

  span {
  font-size: 1.5rem;
  color: var(--accent-color-2);
  padding-bottom: 2px;
}
}

.hamburger {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::before {
  content: "\00D7";
  font-size: 2rem;
}

.nav-menu {
  display: none;
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 15px;
    background-color: var(--primary-color);
  }

  li.current {
    background-color: var(--accent-color-2);
  }

  li.current a {
    color: gold;
  }

  li:hover{
    text-decoration: overline;
    color: var(--secondary-color);
    background-color: gray;
  }

  li.current:hover {
    color: gold;
  }

  a {
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    color: var(--secondary-color);
    padding: 0.8rem 0px;
  }
}

.nav-menu.show {
  display: block;
}