@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 50px auto;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: block;
        text-align: center;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            border: 0;
            align-items: center;
            justify-content: center;
        }

        li {
            background-color: var(--primary-color);
            flex: 1 1 100%;
            text-wrap: nowrap;
        }

        & li:hover{
            border: none
        }

        a {
            border: none;
        }
    }
}