* {
    --primary-color: #2d3250;
    --secondary-color: #ddd;
    --accent-color-1: #57096727;
    --accent-color-2: #2d3250;
    --contrast-color: #ffd700;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
}

/* ================ Header ================ */

header {
  font-family: "Baumans", system-ui;
  display: grid;
  grid-template-columns: 50px auto 44px;
  align-items: center;
  padding: 5px 0 5px 10px;
  column-gap: 5px;
  background-color: var(--accent-color-1);
  border-bottom: solid 1px var(--primary-color);

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  span {
    font-size: x-large;
    color: black;
    padding-bottom: 2px;
  }

  &.no-border {
    border-bottom: none;
  }
}

.hamburger {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &::before {
    content: "\2630";
    font-size: 2rem;
  }

  &.show::before {
    content: "\00D7";
    font-size: 2rem;
  }
}

/* ================ Navigation ================ */

.nav-menu {
  display: none;
  font-weight: 600;
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 15px;
    background-color: var(--primary-color);
  }

  li.current {
    background-color: var(--accent-color-2);
  }

  li.current a {
    color: var(--contrast-color);
  }

  li:hover{
    text-decoration: overline;
    color: var(--secondary-color);
    background-color: gray;
  }

  li.current:hover {
    color:  var(--contrast-color);
  }

  a {
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    color: var(--secondary-color);
    padding: 0.8rem 0px;
  }

  &.show {
    display: block;
  }
}

/* ================ Main ================ */

main {
  h1, h2{
    font-family: "Baumans", system-ui;
  }

  h1 {
    padding: 0 0 0 12px;
  }

  h2 {
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
    margin: 0;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-bottom: none;
  }

  section {
    padding: 0 10px 10px 10px;
  }

  .my-info {
    display: grid;

    section {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
    }
  }
  .content, .photo, .courses {
    flex: 1 1 0;
    padding: 10px;
  }

  .content, .photo, .courses-showcase {
    background-color: var(--accent-color-1);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-top: none;
  }

  .photo{
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 16rem;
      width: 500px;
      height: auto;
      padding: 0;
      margin: 0;
      border-radius: 10px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 3rem;                 
    padding: 10px;
    margin: 0 auto;   
    border: 0;
    width: fit-content;
    
    .filter-btn {
      padding: 10px 0;
      width: 7rem;
      background-color: var(--secondary-color);
      font-weight: 600;
      border-radius: 10px;

      &.selected {
        background-color: var(--accent-color-2);
        color: var(--contrast-color);
      }

      &:hover {
        text-decoration: overline;
        color: var(--contrast-color);
        background-color: var(--accent-color-2);
      }

      &:hover.selected {
        color: var(--accent-color-2);
        background-color: var(--contrast-color);
      }
    }
  }

  .courses {
    
    .done, .not-done {
      text-align: center;
      border: solid 1px gray;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: var(--accent-color-2);
      color: var(--secondary-color);
    }

    p {
      text-align: center;
    }
  }
  
}

/* ================ Footer ================ */

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0px;

}

.footer-content p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 50%;
      background-color: var(--primary-color);
      transition: all 0.3s ease;
      width: 44px;
      height: 44px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    img {
      width: 25px;
      height: 25px;
    }
}