@media only screen and (min-width: 38rem) {

    header, nav, footer {
        margin: 0;
    }

    header {
        grid-template-columns: 50px auto;
        border-bottom: none;
    }
    
    header span {
        font-size: xx-large;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: block;
        text-align: center;
    }

    .nav-menu ul {
        display: flex;
        padding: 0;
        margin: 0;
        border: 0;
        align-items: center;
        justify-content: center;
    }

    .nav-menu li {
        background-color: var(--primary-color);
        flex: 1 1 100%;
        text-wrap: nowrap;
    }

    .nav-menu li:hover{
        border: none
    }
    
    .nav-menu a {
        border: none;
    }

    .my-info {
        grid-template-columns: 2fr 1fr;
        align-items: stretch
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;   
        align-items: center;
        gap: 2rem;
        padding: 10px 0;  
    }

    .course-card {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        width: 95%;
        box-sizing: border-box;
    }

    .summary p,.content p{
        font-size: large;
    }
}